:root {
    --primary: #edc69b;
    --secondary: #F8F1E5;
    --accent: #6c1717;
    --text: #522b19;
    --font-main: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --caption-size: 30px;
    --text-size: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--primary);
    font-family: 'Courier New', Courier, monospace;
}

/* Шапка сайта */

.header {
    background-color: var(--text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 0px 8px 8px 0px rgba(82, 62, 34, 0.2);
}

.nav a {
    color: var(--secondary);
    font-size: 20px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    margin: 0 20px;
    padding: 4px 10px;
    border-radius: 5px;
    transition: 1s;
}

.nav a:hover {
    background-color: var(--secondary);
    color: var(--text);
    transform: scale(1.02);
    transition: 1s;
}

.bagImg {
    width: 30px;
    transition: 1s;
}

.logoImg {
    width: 50px;
    transition: 1s;
}

.logoImg:hover {
    transform: rotate(360deg);
    transition: 1s;
}

.bagImg:hover {
    width: 35px;
    transition: 1s;
}


#active {
    background-color: var(--secondary);
    color: var(--text);
    transform: scale(1.02);
}

/* Заголовки блоков */

.captionBlock {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* блок сайта 1 */

.heroBlock {
    margin-top: 70px;
    height: 600px;
    width: 100%;
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--secondary);
}

.heroContent button {
    width: 100%;
    height: 50px;
    background-color: var(--secondary);
    color: var(--text);
    border-radius: 30px;
    margin-top: 30px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

/* блок сайта 2 */

.features {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    flex-wrap: wrap
}

.card {
    width: 25%;
    border-radius: 30px;
    background-color: var(--secondary);
    color: var(--text);
    min-height: 300px;
    min-width: 300px;
    text-align: center;
    margin: 30px;
    box-shadow: 0px 3px 8px 0px rgba(82, 62, 34, 0.28);
    transition: 1s;
}

.card:hover {
    transform: scale(1.02);
    transition: 1s;
}

.card img {
    border-radius: 30px;
    width: 100%;
}

.textCard {
    margin: 15px;
}

/* блок сайта 3 */

.popularItems {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.item {
    width: 30%;
    min-width: 300px;
    background-color: var(--secondary);
    color: var(--text);
    border-radius: 30px;
    text-align: center;
    margin: 30px;
    box-shadow: 0px 3px 8px 0px rgba(82, 62, 34, 0.28);
    transition: 1s;
}

.item:hover {
    transform: scale(1.02);
    transition: 1s;
}

.item img {
    width: 100%;
    border-radius: 30px;
}

.price {
    font-weight: 900;
    color: var(--accent);
    margin-top: 30px;
    margin-bottom: 20px;
}

.item h3 {
    margin-top: 20px;
}

.btn {
    display: block;
    text-align: center;
    width: 40%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--secondary);
    border: 2px solid var(--text);
    color: var(--text);
    border-radius: 30px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 50px;
    margin-bottom: 50px;
    text-decoration: none;
}

.aboutText {
    text-align: center;
    max-width: 800px;
    margin: 0 auto 50px auto;
    padding: 0 20px;
    font-size: 18px;
    line-height: 1.6;
    color: var(--text);
}

/* Футер */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: var(--text);
    color: var(--secondary);
    width: 100%;
    min-height: 300px;
}

.media img {
    width: 45px;
}

.btnBlock {
    display: flex;
    justify-content: center;
}

@media (min-width: 0) and (max-width: 500px) {
    .header {
        height: 300px;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }

    .nav a {
        display: block;
    }

    .logo {
        margin-bottom: 20px;
    }

    .bag {
        margin-top: 20px;
    }

    

    .footer {
        height: 500px;
        flex-direction: column;
        justify-content: center;
    }

    .media {
        margin-top: 20px;
    }
}


