:root {
    --primary: #edc69b;
    --secondary: #F8F1E5;
    --accent: #6c1717;
    --text: #522b19;
    --font-main: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --caption-size: 30px;
    --text-size: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--primary);
    font-family: 'Courier New', Courier, monospace;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Шапка сайта */

.header {
    background-color: var(--text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 0px 8px 8px 0px rgba(82, 62, 34, 0.2);
}

.nav a {
    color: var(--secondary);
    font-size: 20px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    margin: 0 20px;
    padding: 4px 10px;
    border-radius: 5px;
    transition: 1s;
}

.nav a:hover {
    background-color: var(--secondary);
    color: var(--text);
    transform: scale(1.02);
    transition: 1s;
}

.bagImg {
    width: 30px;
    transition: 1s;
}

.logoImg {
    width: 50px;
    transition: 1s;
}

.logoImg:hover {
    transform: rotate(360deg);
    transition: 1s;
}

.bagImg:hover {
    width: 35px;
    transition: 1s;
}

#active {
    background-color: var(--secondary);
    color: var(--text);
    transform: scale(1.02);
}

/* Заголовки блоков */

.captionBlock {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Название страницы */
#firstBlock {
    margin-top: 150px;
}

/* Блок 1 */

.b1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.map {
    text-align: center;
}

.map h3 {
    margin-bottom: 20px;
}

.adress {
    font-size: 20px;
}

.adressText {
    margin-right: 20px;
    min-width: 350px;
    margin-bottom: 20px;
}


/* Форма */

.form {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    background-color: var(--secondary);
    color: var(--text);
    border-radius: 20px;

}

.btn {
    width: 100%;
    height: 50px;
    border-radius: 50px;
    background-color: var(--accent);
    color: var(--secondary);
    transition: 0.5s;
}

.btn:hover {
    background-color: var(--text);
    transform: scale(1.02);
    transition: 0.5s;
}

.line {
    margin-bottom: 10px;
}

.form h2 {
    text-align: center;
}

.line input {
    display: inline-block;
    border-radius: 50px;
    width: 100%;
    height: 45px;
    background-color: white;
    border: 1px solid var(--text);
    padding-left: 20px ;
    margin-top: 8px;;
}

.line textarea{
    width: 100%;
    display: inline-block;
    border-radius: 20px;
    background-color: white;
    border: 1px solid var(--text);
    padding-left: 20px ;
    padding-top: 10px;
    margin-top: 8px;;
}

/* Футер */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: var(--text);
    color: var(--secondary);
    width: 100%;
    min-height: 300px;
}

.media img {
    width: 45px;
}

.btnBlock {
    display: flex;
    justify-content: center;
}

@media (min-width: 0) and (max-width: 500px) {
    .header {
        height: 300px;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }

    .nav a {
        display: block;
    }

    .logo {
        margin-bottom: 20px;
    }

    .bag {
        margin-top: 20px;
    }

    iframe {
        width: 350px;
    }

    .footer {
        height: 500px;
        flex-direction: column;
        justify-content: center;
    }

    .media {
        margin-top: 20px;
    }
}