:root {
    --primary: #edc69b;
    --secondary: #F8F1E5;
    --accent: #6c1717;
    --text: #522b19;
    --font-main: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --caption-size: 30px;
    --text-size: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--primary);
    font-family: 'Courier New', Courier, monospace;
}

/* Шапка сайта */

.header {
    background-color: var(--text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 0px 8px 8px 0px rgba(82, 62, 34, 0.2);
}

.nav a {
    color: var(--secondary);
    font-size: 20px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    margin: 0 20px;
    padding: 4px 10px;
    border-radius: 5px;
    transition: 1s;
}

.nav a:hover {
    background-color: var(--secondary);
    color: var(--text);
    transform: scale(1.02);
    transition: 1s;
}

.bagImg {
    width: 30px;
    transition: 1s;
}

.logoImg {
    width: 50px;
    transition: 1s;
}

.logoImg:hover {
    transform: rotate(360deg);
    transition: 1s;
}

.bagImg:hover {
    width: 35px;
    transition: 1s;
}


#active {
    background-color: var(--secondary);
    color: var(--text);
    transform: scale(1.02);
}

/* Заголовки блоков */

.captionBlock {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Блоки */

.block {
    border-radius: 20px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Название страницы */
#firstBlock {
    margin-top: 150px;
}

/* сезонное меню */

.season {
    width: 70%;
    background-color: var(--accent);
    color: var(--secondary);
    text-align: center;
    padding: 20px;
}

.season h2 {
    margin-bottom: 15px;
}

.season button{
    width: 70%;
    height: 50px;
    background-color: var(--secondary);
    color: var(--text);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50px;
    transition: 0.5s;
}

.season button:hover {
    transform: scale(1.02);
    background-color: var(--primary);
    transition: 0.5s;
}


/* Блок с товарами */
/* Фильтры */

.filter {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--secondary);
    color: var(--accent);
    border-radius: 20px;
    padding: 20px;
    min-width: 250px;
    min-height: 70px;
}

.filterItem {
    margin-right: 20px;
    padding: 10px;
}

.caption2 {
    font-size: 20px;
    font-weight: 900;

}

/* Товары */

.card {
    width: 20%;
    border-radius: 20px;
    background-color: var(--secondary);
    color: var(--text);
    text-align: center;
    padding: 20px;
    min-height: 350px;
    min-width: 250px;
    margin-bottom: 20px;
    transition: 0.5s;
}

.card:hover {
    box-shadow: 0px 4px 8px 0px rgba(118, 79, 27, 0.2);
    transform: scale(1.02);
    transition: 0.5s;
}

.card img {
    width: 100%;
    border-radius: 20px;
}

.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    min-height: 400px;
    margin-left: 20px;
}





/* Футер */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: var(--text);
    color: var(--secondary);
    width: 100%;
    min-height: 300px;
}

.media img {
    width: 45px;
}

.btnBlock {
    display: flex;
    justify-content: center;
}

@media (min-width: 0) and (max-width: 500px) {
    .header {
        height: 300px;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }

    .nav a {
        display: block;
    }

    .logo {
        margin-bottom: 20px;
    }

    .bag {
        margin-top: 20px;
    }

    

    .footer {
        height: 500px;
        flex-direction: column;
        justify-content: center;
    }

    .media {
        margin-top: 20px;
    }
}